<nav class="container navbar navbar-expand-lg navbar-light bg-light" >

  <a class="navbar-brand"> G A M E </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
    </ul>

    <button *ngIf="HeaderLoggedIn; else loginbutton" class="btn btn-outline-danger my-2 my-sm-0" (click)="logoutClick()">Logout</button>

    <ng-template #loginbutton>
      <button  class="btn btn-outline-success my-2 my-sm-0" (click)="loginClick()">Login</button>
    </ng-template>
<!--
    <app-login-button *ngIf="router.url !== '/logged'"></app-login-button>
    <app-header-user *ngIf="router.url === '/logged'"> </app-header-user>
-->
  </div>
</nav>
