<div (load)="testfunction()">
</div>

<div *ngIf="showResources" class="row justify-content-center">

    <div    class="card_user" style="margin-right: 50px">
      <div class="row no-gutters">
        <div class="col-auto">
          <img src="../../assets/wood.png" style="width: 30px; height: 30px" class="img-fluid" alt="">
        </div>
        <div class="col">
          <div class="card-block px-2">
            <p class="card-text">{{wood}}</p>
          </div>
        </div>
      </div>
    </div>


    <div class="card_user" style="margin-right: 50px">
      <div class="row no-gutters">
        <div class="col-auto">
          <img src="../../assets/Stone.jfif" style="width: 30px; height: 30px" class="img-fluid" alt="">
        </div>
        <div class="col">
          <div class="card-block px-2">
            <p class="card-text">{{iron}}</p>
          </div>
        </div>
      </div>
    </div>

  <div    class="card_user" style="margin-right: 50px">
    <div class="row no-gutters">
      <div class="col-auto">
        <img src="../../assets/meat.jfif" style="width: 30px; height: 30px" class="img-fluid" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
          <p class="card-text">{{meat}}</p>
        </div>
      </div>
    </div>
  </div>


  <div class="card_user" style="margin-right: 50px">
    <div class="row no-gutters">
      <div class="col-auto">
        <img src="../../assets/gold.jfif" style="width: 30px; height: 30px" class="img-fluid" alt="">
      </div>
      <div class="col">
        <div class="card-block px-2">
          <p class="card-text">{{gold}}</p>
        </div>
      </div>
    </div>
  </div>







</div>
