
<router-outlet></router-outlet>

hi




















<!--
<app-header></app-header>

<div class="container">
   <router-outlet></router-outlet>
</div>

<app-footer></app-footer>




<div class="row">
  <div class="col-xs-12">
    <h3>I am in the app component!</h3>
    <hr>


    <input  type="text" (keyup)="onNameKeyUp($event)">

    <button class="btn btn-primary" (click)="getProfile()"> Get Profile </button>
    <br>
    <div *ngIf="found">
      <span>Hodnoty jsou wood: {{wood}} a iron: {{iron}} </span>
    </div>

    <button class="btn btn-primary" (click)="postProfile()"> Post Profile </button>
    <br>
    <div *ngIf="found">
      <span>Hodnoty jsou wood: {{wood}} a iron: {{iron}} </span>
    </div>


  </div>

</div>

-->


