
<div class="container" id="loginpagecss">
  <form  (submit)="loginUser($event)">

    <div   class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username"   placeholder="Enter Username" >
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" >
    </div>

    <p *ngIf="userCreated" class="text-primary">User <b>{{ username }}</b>  was created ! </p>

    <button class="btn btn-primary" style="margin-right: 10px"> Login </button>
    <button class="btn btn-primary" style="margin-right: 10px" > Register </button>

  </form>

  <a class="nav-link" routerLink="/admin">Admin</a>

</div>
