<div class="container">

  <div class="row justify-content-md-center" style="margin-bottom: 25px">


    <button class="btn col-md-2" style="margin: 10px"><i class="fa fa-wood"></i>
      <img src="../../assets/wood.png" style="width: auto; height: 40px" /> Add wood
    </button>

    <button class="btn col-md-2" style="margin: 10px"><i class="fa fa-iron"></i>
      <img src="../../assets/Stone.jfif" style="width: auto; height: 40px" /> Add iron
    </button>

    <button class="btn col-md-2" style="margin: 10px"><i class="fa fa-meat"></i>
      <img src="../../assets/meat.jfif" style="width: auto; height: 40px" /> Add meat
    </button>

    <button class="btn col-md-2" style="margin: 10px"><i class="fa fa-gold"></i>
      <img src="../../assets/gold.jfif" style="width: auto; height: 40px" /> Add gold
    </button>



  </div>


  <div class="row">

    <div class="col-md-3" *ngFor="let resource of resources"  >
      <app-card [childResources]="resource"  ></app-card>
    </div>



  </div>
</div>

